<!DOCTYPE html>
<footer class="footer">
    <p>© 2024 Glamour, SAS</p>
    <div class="social-links">
        <a href="/https://www.instagram.com/glamour_studio_oficialsr?igsh=eXhxaHpxdzBjampy" target="_blank">
            <img src="../../img/instagram.svg" alt="Instagram" class="social-icon">
        </a>
        <a href="https://api.whatsapp.com/send?phone=573107173555" target="_blank">
            <img src="../../img/whatsapp.svg" alt="WhatsApp" class="social-icon">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100092736353677&mibextid=ZbWKwL" target="_blank">
            <img src="../../img/facebook.webp" alt="Facebook" class="social-icon">
        </a>
    </div>
</footer>
