<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="../../index.php"><img src="../../img/logo.png" alt="Logo SR" class="logo-img"></a>
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <ul class="nav-links">
                <li class="dropdown">
                    <a href="#" class="dropdown-link">CATEGORÍAS</a>
                    <ul class="dropdown-content">
                        <li><a href="../../pages/User/Categoria-mujer.html">DAMA</a></li><br>
                        <li><a href="../../pages/User/Categoria-Hombre.html">CABALLERO</a></li>
                    </ul>
                </li>
                <li><a href="../../pages/User/Services.php">SERVICIOS</a></li>
                <li><a href="../../pages/User/Us.html">NOSOTROS</a></li>
                <li><a href="./https://api.whatsapp.com/send?phone=573107173555" target="_blank">CONTACTAR</a></li>
                <li><a href="../../pages/User/carrito.php" class="nav-links-cel target="_blank>CARRITO</a></li>
                <li><a href="./http://127.0.0.1:5500/pages/User/MyAccount.html" class="nav-links-cel target="_blank>MI CUENTA</a></li>
            </ul>
            <div class="icons-header">
                <a href="/GLAMURV3/pages/User/carrito.php"><img src="../../img/icono-header-cart.png" alt="icono-header-cart" class="icon"></a>
                <a href="/GLAMURV3/pages/User/MyAccount.php"><img src="../../img/icono-header-usuario.png" alt="icono-header-usuario" class="icon"></a>
            </div>
        </nav>
    </header> 
</body>
</html>
